html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: lavender;
}

header {
    font-size: 20px;
    background-color: lightslategray;
}

nav {
    font-size: 12px;
    background-color: lightslategray;
}

footer {
    font-size: 12px;
    background-color: lightslategray;
}
